/config.ini

/TODO.txt
/sandcastle_doc.shfbproj_*
/match*
/MBC.suo
/MBC.v11.suo

/bots
/bin
/config
/configs
/docs
/work on later

/AppConsole/obj
/Core/obj
/Bots CSharp/obj
/Bots VB/obj
/App3D/obj
/App3D
/AppWPF/obj
/AppConsole/bin
/Core/bin
/Bots CSharp/bin
/Bots VB/bin
/App3D/bin
/App3D
/AppWPF/bin
/Shared/obj
/Shared/bin
/models