/config.ini

/TODO.txt
/sandcastle_doc.shfbproj_*
/match*
/MBC.suo
/MBC.v11.suo

/bots
/bin
/config
/configs
/docs
/work on later
/TestResults

/AppConsole/obj
/Core/obj
/Bots CSharp/obj
/Bots VB/obj
/App3D/obj
/App3D
/AppWPF/obj
/AppConsole/bin
/Core/bin
/Bots CSharp/bin
/Bots VB/bin
/TestCore/bin
/TestCore/obj
/App3D/bin
/App3D
/AppWPF/bin
/Shared/obj
/Shared/bin
/models
TestCore/bin/Debug/ctrlplugin.xml
TestCore/bin/Debug/mbc_core.xml
TestCore/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
TestCore/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
TestCore/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
TestCore/obj/Debug/TestCore.csproj.FileListAbsolute.txt
TestCore/obj/Debug/build.force
