/config.ini

/TODO.txt
/sandcastle_doc.shfbproj_*
/match*

/bots
/bin
/configs
/docs
/work on later

/AppConsole/obj
/Core/obj
/Controller Plugin/obj
/Controllers/obj
/App3D/obj
/App3D
/AppWPF/obj
/models